pyrogram==2.0.83
tgcrypto
git+https://github.com/pytgcalls/pytgcalls.git


ffmpeg-python
yt-dlp
youtube-search-python
youtube-search
lyricsgenius
speedtest-cli

python-dotenv
dnspython
gitpython
aiofiles
aiohttp
requests
pillow
motor
psutil
future
wget
