pyrogram==2.0.106
tgcrypto

# PyTgCalls + tgcalls from GitHub (THIS IS THE FIX)
git+https://github.com/pytgcalls/pytgcalls.git

ffmpeg-python
yt-dlp
youtube-search-python
youtube-search
lyricsgenius
speedtest-cli

python-dotenv
dnspython
gitpython
aiofiles
aiohttp
requests
pillow
motor
psutil
future
wget
