pyrogram==2.0.106
tgcrypto

pytgcalls==3.0.0.dev24
tgcalls==3.0.0.dev24

ffmpeg-python
yt-dlp
youtube-search-python
youtube-search
lyricsgenius
speedtest-cli

python-dotenv
dnspython
gitpython
aiofiles
aiohttp
requests
pillow
motor
psutil
future
wget
